html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-shadow: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.centerObj{
	text-align: center;
}


#wrapper{
	text-shadow: none;
}


#loginLogo{
	background-image: url(../assets/assets_playz_logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	width: 100%;
    height: 25vh;
    background-color: #ffffff;
}

#loginContent{
	background-color: #499844;
	height: 50vh;
}

#loginBtn{
	width: 45%;
}

#loginFooter{
	 background-color: #367032;
	 width: 100%;
    height: 20vh;
}

.loginSearch{
	margin-left: auto;
    margin-right: auto;
	width: 45%;
}

.mapSection{
	
	width: 100%;
	
	  margin: 0 auto;
	  margin-top:30px;
   position: relative;
   
   
   
}


#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 80%;
    padding-top: 30px;
    position: relative;
}

footer {
    position: fixed;
   
}
