<div class="container p-t-md">
    <div class="row">
       

   
        <div class="col-md-6">
            <ul class="list-group media-list media-list-stream">
                <li class="media list-group-item p-a">
                    <h4>Monitoring</h4>
                </li>
                <li class="media list-group-item p-a">
                    <div class="media-body">
                        <div class="media-body-text">
                            <div class="media-heading">
                                <div class="radio-inline custom-control custom-radio">
                                    <label>
                                        <input type="radio" id="radio1" ng-click="setCurrentLocation()" name="location"
                                               checked>
                                        <span class="custom-control-indicator"></span>
                                        Show Upcoming Events
                                    </label>
                                </div>
                                <div class="radio-inline custom-control custom-radio">
                                    <label>
                                        <input type="radio" id="radio2" ng-click="setHomeLoc()" name="location">
                                        <span class="custom-control-indicator"></span>
                                        Show Users
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
               
                <li class="media list-group-item p-a">
                    <div class="media-body">
                        <div class="media-body-text map-height">
                            <div class="map" id="map"></div>
                            
                            </map>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
         <div class="col-md-6">
         <ul class="list-group media-list media-list-stream">
         <li class="media list-group-item p-a">

        <table st-table="displayedCollection" st-safe-src="events" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="sportType">Sport Type</th>
                    <th st-sort="eventTitle">Title</th>
                    <th st-sort="location.city">Location</th>
                   
                </tr>
                <tr>
                    <th colspan="5"><input st-search class="form-control" placeholder="filter" type="text"/></th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="event in displayedCollection">
                <td>{{event.sportType}}</td>
                <td>{{event.eventTitle}}</td>
                <td>{{event.location.city}}</td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
        </tfoot>
        </table>
        </li>
        </ul>
         </div>

    </div>
</div>