
<div >
	<br><br>
    <div class="col-md-6">
      <ul class="list-group media-list media-list-stream">

		<li class="media list-group-item p-a">
			<h4>Pick Your Activity</h4>
		</li>
    <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading" >
                <div class="radio-inline custom-control custom-radio">
                  <label>
                 
                    <input type="radio" id="publicEvt" name="privacy" ng-model="event.privacyType" ng-value="public" checked >
                    <span class="custom-control-indicator"></span>
                    Public Event</input>
                  </label>
                </div>
                <div class="radio-inline custom-control custom-radio">
                  <label>
                    <input type="radio" id="privateEvt" name="privacy" ng-model="event.privacyType" ng-value="private">
                    <span class="custom-control-indicator"></span>
                    Private Event</input>
                  </label>
                </div>
               
               </div>  
            </div>
          </div>
        </li>
		<li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading" >
                <label class="select">Choose Sport:</label>
		              <select id="sportSelection" class="custom-select" ng-model="event.sportType" ng-value="Football">
		                <option ng-repeat="sport in sports">{{sport.name}}</option>
		              </select>
			          </div>  
            </div>
          </div>
        </li>
        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                  <label class="select">Level of expertese:</label>
    			        <select name="levelSelect" id="levelSelection" class="custom-select" ng-model="event.level" ng-value="Any Level">
    			           <option >Any Level</option>
    			           <option >Newbie</option>
    			           <option >Intermediate</option>
    			           <option >Proffesional</option>
    					     </select>
			         </div>  
            </div>
          </div>
        </li>
        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                <label class="select">Mind-set:</label>
      		        <select name="mindsetSelect" id="mindsetSelection" class="custom-select" ng-model="event.mindset" ng-value="Just for fun">
      		          <option >Just for fun</option>
      		          <option >Turnament</option>
      		          <option >By the book</option>
      		        </select>
			         </div>  
            </div>
          </div>
        </li>
        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                <label class="select">When:</label>
                  <select name="select-choice-0" id="mindsetSelection" class="custom-select" ng-model="event.whenDate" ng-value="Today">
                    <option >Today</option>
                    <option >Tomorrow</option>
                    <option >Negotiable</option>
                  </select>
               </div>  
            </div>
          </div>
        </li>
        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                <label class="select">Group Size:</label>
                   <span id="rangeSizeA">2</span>
                   <input id="groupSlider"  type="text" ng-model="event.groupSize" ng-value="2"> 
                 
               </div>  
            </div>
          </div>
        </li>
        

      </ul>
    </div>

      <div class="col-md-6">
      <ul class="list-group media-list media-list-stream">

    <li class="media list-group-item p-a">
      <h4>Pick Your Partner</h4>
    </li>


    <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                <div data-role="rangeslider">
           
                <b> Age Range:</b> 
                <span id="rangeA" >20</span> to <span id="rangeB">40</span>
                <input id="ex2" type="text" ng-model="event.ageRange">
              </div>
         </div>  
            </div>
          </div>
        </li>
    

        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                  <label for="select-choice-0" class="select">Gender:</label>
              <select name="select-choice-0" id="genderSelection" class="custom-select" ng-model="event.gender">
                 <option >Co-ed</option>
                 <option >Male</option>
                 <option >Female</option>
                 
              </select>
         </div>  
            </div>
          </div>
        </li>
        
      <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                 <label for="select-choice-0" class="select">Payed facilities:</label>
              <select name="select-choice-0" id="payedSelection" class="custom-select" ng-model="event.payedFacility">
                <option >OK</option>
                 <option >No Way</option>
                 <option >Don't Care</option>
              </select>
         </div>  
            </div>
          </div>
        </li>

        

      </ul>
    </div>


    <div class="col-md-6">
      <ul class="list-group media-list media-list-stream">

    <li class="media list-group-item p-a">
      <h4>Pick an Area</h4>
    </li>

    <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading" >
                <div class="radio-inline custom-control custom-radio">
                  <label>
                    <input type="radio" id="radio1" onclick="setCurrentLocation()" name="location" checked >
                    <span class="custom-control-indicator"></span>
                    Current Location</input>
                  </label>
                </div>
                <div class="radio-inline custom-control custom-radio">
                  <label>
                    <input type="radio" id="radio2" onclick="setLoc()" name="location">
                    <span class="custom-control-indicator"></span>
                    Home Location</input>
                  </label>
                </div>
               </div>  
            </div>
          </div>
        </li>
        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading" >
                
               <input id="slider-1" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="5" ng-model="event.radius"/>
               <!-- <input type="range" name="slider-1" id="slider-1" value="5" min="1" max="50" /> -->
          <br>
          <br>
            <div id="map" ></div>
            <span id="mapLat" class="hidden" ng-model="event.location.latitude"></span>
            <span id="mapLong" class="hidden" ng-model="event.location.longitudes"></span>
     
         </div>  
            </div>
          </div>
        </li>

      </ul>
    </div> 
  </div>
     <div class="col-md-6">
      <ul class="list-group media-list media-list-stream">
    <li class="media list-group-item p-a">
      <h4>Partner Suggestions</h4>
    </li>
    <ul class="media-list media-list-users list-group">
  <li class="list-group-item">
    <div class="media">
      <a class="media-left" href="#">
        <img class="media-object img-circle" src="../assets/img/avatar-fat.jpg">
      </a>
      <div class="media-body">
        <button class="btn btn-primary-outline btn-sm pull-right">
          <span class="icon icon-add-user"></span> Invite
        </button>
        <strong>Jacob Thornton</strong>
        <small>@fat - San Francisco</small>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="media">
      <a class="media-left" href="#">
        <img class="media-object img-circle" src="../assets/img/avatar-dhg.png">
      </a>
      <div class="media-body">
        <button class="btn btn-primary-outline btn-sm pull-right">
          <span class="icon icon-add-user"></span> Invite
        </button>
        <strong>Dave Gamache</strong>
        <small>@dhg - Palo Alto</small>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="media">
      <a class="media-left" href="#">
        <img class="media-object img-circle" src="../assets/img/avatar-mdo.png">
      </a>
      <div class="media-body">
        <button class="btn btn-primary-outline btn-sm pull-right">
          <span class="icon icon-add-user"></span> Invite
        </button>
        <strong>Mark Otto</strong>
        <small>@mdo - San Francisco</small>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="media">
      <button type="button" class="btn btn-xs btn-success-outline">Search for more suggestions</button>
    </div>
  </li>
</ul>
     <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                  <form >
                    <button type="button" class="btn btn-lg btn-pill btn-danger">Cancel</button>
                    <button type="submit" ng-click="createEvent()" class="btn btn-lg btn-pill btn-success">Create Event</button>
                  </form>
               </div>  
            </div>
          </div>
        </li>

    </ul>
</div>

 	

    </div>
  </div>
</div>


