<div class="container p-t-md">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group media-list media-list-stream">
                <li class="list-group-item p-a" >
                    <button type="button" class="btn btn-sm btn-primary pull-right app-new-msg js-newMsg" ng-if="user._id==event.creator._id" ng-click="editEvent()">Edit Event
                    </button>
                   
                    <h3 class="modal-title"> <img style="max-height:40px;" data-ng-src="assets/img/{{event.sportType}}.png">  {{event.sportType}}</h3>
                </li>
                <div>
                    <li class="media list-group-item p-a">
                        <div class="media-body">
                            <div class="media-heading">
                                <small class="pull-right text-muted"></small>
                            </div>
                            When: {{event.whenDate | date:"dd/MM/yyyy"}}<br>
                            Where: {{event.location.city}}<br>
                            Registerd Playzers: {{event.registeredUsers.length}}
                        </div>
                    </li>

                    <li class="media list-group-item p-a">
                       
                        <button type="button" class="btn btn-default-outline" ng-click="invite()"> <span class="icon icon-add-user"></span>  Invite </button>
                        <button type="button" class="btn btn-primary-outline" ng-click="share()"> <span class="icon icon-facebook"></span>  Share </button>
                        <button type="button" class="btn btn btn-primary-outline" 
                                data-toggle="modal" href="#messageModal"> 
                                <span class="icon icon-chat"></span>  Chat
                        </button>
                       
                    </li>
                    <li class="media list-group-item p-a" >
                    <button type="button" class="btn btn-danger"  ng-click="leaveEvent(event)">Leave Event</button>
                    <button type="button" class="btn btn-info pull-right" ng-click="goBack()">Go Back</button>

                    </li>

                </div>


            </ul>

        </div>


    </div>
    <ng-include ng-show="status" src="'views/includes/groupChat.html'"></ng-include>
</div>

