<div class="container p-t-md">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group media-list media-list-stream">
                <li class="list-group-item p-a" >
                    <button type="button" class="btn btn-sm btn-primary pull-right app-new-msg js-newMsg" ng-if="user._id==event.creator._id" ng-click="editEvent()">Edit Event
                    </button>
                    <h3 class="modal-title">{{event.sportType}}</h3>
                </li>
                <div>
                    <li class="media list-group-item p-a">
                        <div class="media-body">
                            <div class="media-heading">
                                <small class="pull-right text-muted"></small>
                            </div>
                            When: {{event.whenDate | date:"dd/MM/yyyy"}}<br>
                            Where: {{event.location.city}}<br>
                            Registerd Playzers: {{event.registeredUsers.length}}
                        </div>
                    </li>
                    <li class="media list-group-item p-a">
                        

                        <div class="modal-body-scroller">
                            <div class="m-a js-conversation">
                                <ul class="media-list media-list-conversation">
                                    <!--<li class="media  m-b-md" ng-repeat="message in messages | orderBy: 'timestamp':true"-->
                                    <li class="media  m-b-md" ng-repeat="message in messages"
                                        ng-class="{'media-current-user':user._id==message.sender._id}">
                                        <a class="media-left" href="#" ng-class="{'hide':user._id==message.sender._id}">
                                            <img class="img-circle media-object"
                                                 ng-src="{{message.sender.picture.data.url}}">
                                        </a>
                                        <div class="media-body">
                                            <div class="media-body-text">
                                                {{message.text}}
                                            </div>
                                            <div class="media-footer">
                                                <small class="text-muted">
                                                    <a href="#">{{message.sender.name}}</a> at {{message.timestamp |
                                                    date:"dd/MM/yy HH:mm"}}
                                                </small>
                                            </div>
                                        </div>
                                        <a class="media-right" href="#"
                                           ng-class="{'hide':user._id!=message.sender._id}">
                                            <img class="img-circle media-object"
                                                 ng-src="{{message.sender.picture.data.url}}">
                                        </a>
                                    </li>
                                    <div id="bottom" ng-repeat-end>
                                    
                                    </div>

                                    <!-- <li class="media m-b-md">
                                      <a class="media-left" href="#">
                                        <img class="img-circle media-object" src="../assets/img/avatar-fat.jpg">
                                      </a>
                                      <div class="media-body">
                                        <div class="media-body-text">
                                        You need to learn Angular!! you code is bad!
                                        </div>
                                        <div class="media-footer">
                                          <small class="text-muted">
                                            <a href="#">Avishay Hajbi</a> at 4:28PM
                                          </small>
                                        </div>
                                      </div>
                                    </li>
                 -->

                                </ul>

                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Message" ng-model="textMsg" ng-keyup="$event.keyCode == 13 && createMessage()">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="createMessage()">
                                        <span class="icon icon-direction"></span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="media list-group-item p-a">
                       
                        <button type="button" class="btn btn-default-outline" ng-click="invite()"> <span class="icon icon-add-user"></span>  Invite Friends</button>
                        <button type="button" class="btn btn-primary-outline" ng-click="share()"> <span class="icon icon-facebook"></span>  Share To Facebook</button>
                       
                    </li>
                    <li class="media list-group-item p-a" >
                    <button type="button" class="btn btn-danger"  ng-click="leaveEvent(event)">Leave Event</button>
                    <button type="button" class="btn btn-info pull-right" ng-click="goBack()">Go Back</button>

                    </li>

                </div>


            </ul>

        </div>


    </div>
</div>

