<div class="container p-t-md">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group media-list media-list-stream">
                <li class="media list-group-item p-a">
                    <div class="">
                        <h2>Explore new events</h2>

                        <!-- <ul class="nav nav-pills nav-justified">
                            <li ng-tab-head="active" ng-click="tabChanged('today')">
                                <a href="#" ng-click="$event.preventDefault()">
                                    <span class="icon icon icon-hour-glass"></span> Today </a>
                            </li>
                            <li ng-tab-head ng-click="tabChanged('tomorrow')">
                                <a href="#" ng-click="$event.preventDefault()">
                                    <span class="icon icon-clock"></span> Tomorrow</a>
                            </li>
                            <li ng-tab-head ng-click="tabChanged('negotiable')">
                                <a href="#" ng-click="$event.preventDefault()">
                                    <span class="icon icon-clock"></span> Negotiable</a>
                            </li>
                        </ul> -->
                    </div>
                </li>
            </ul>
            <div>
                <div class=" media-list list-group">
                    <ul class="media-list media-list-stream c-w-md">

                        <li class="list-group-item media p-a animated fadeInUp"  ng-repeat="card in events track by $index"
                               ng-if="user.registeredEvents.indexOf(card._id)==-1">
                            <a class="list-group-item media"
                               ng-include src="'views/includes/card.html'" href="#eventModal" ng-click="[$event.preventDefault(),openEvent(card)]"> </a>

                        </li>
                    </ul>
                </div>

            </div>
            <!-- <div class="tab-content" style="overflow: hidden">
                <div ng-tab-body="animated bounceInLeft" class="tab-pane media-list list-group">
                <ul class="media-list media-list-stream c-w-md">
                    <li class="list-group-item media p-a" ng-repeat="card in todayEvents track by $index" ng-include src="'views/includes/card.html'" > </li>
                </ul>
                    
                </div>
                <div ng-tab-body="animated fadeInUp " class="tab-pane  media-list list-group">
                    <div ng-repeat="card in tomorrowEvents track by $index" ng-include src="'views/includes/card.html'" > </div>
                </div>
                <div ng-tab-body="animated bounceIn " class="tab-pane  media-list list-group">
                    <div ng-repeat="card in negotiableEvents track by $index" ng-include src="'views/includes/card.html'" > </div>
                </div>
            </div> -->

        </div>
    </div>
    <ng-include ng-show="status" src="'views/includes/eventReview.html'"></ng-include>
</div>
