

    

      <div class="container p-t-md">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default panel-profile m-b-md">
        <div class="panel-heading fullBackground" style="background-image: url('assets/img/iceland.jpg');"></div>
        <div class="panel-body text-center">
          <a href="profile/index.html">
            <img
              class="panel-profile-img"
              src="">
          </a>

          <h5 class="panel-title">
            <a class="text-inherit" id="currntUserName" href=""></a>
          </h5>

         
<!--
          <ul class="panel-menu">
            <li class="panel-menu-item">
              <a href="#userModal" class="text-inherit" data-toggle="modal">
                Friends
                <h5 class="m-y-0">12M</h5>
              </a>
            </li>

            <li class="panel-menu-item">
              <a href="#userModal" class="text-inherit" data-toggle="modal">
                Enemies
                <h5 class="m-y-0">1</h5>
              </a>
            </li>
          </ul>-->
        </div>
      </div>

      <div class="panel panel-default visible-md-block visible-lg-block">
        <div class="panel-body">
          <h5 class="m-t-0">About <small>· <a href="#">Edit</a></small></h5>
          <ul class="list-unstyled list-spaced">
            <li><span class="text-muted icon icon-calendar m-r"></span>Birthday<a href="#">14/11/86</a>
            <li><span class="text-muted icon icon-location-pin m-r"></span>Location <a href="#">Hod Hasharon, IL</a>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <ul class="list-group media-list media-list-stream">
         <li class="list-group-item p-a">
            <button type="button" class="btn btn-sm btn-primary pull-right app-new-msg js-newMsg" onclick="newEvent()">New event</button>
            <h3 class="modal-title">My Events</h3>
        </li>
          <li class="media list-group-item p-a">
          <div class="input-group">
           

            <ul class="nav nav-pills">
              <li  id="todayListView" class="active">
                <a href="#" >
                  <span class="icon icon icon-hour-glass"></span>
                  Upcomming
                </a>
              </li>
              <li id="tomorrowListView" >
                <a href="#" onclick="tomorrowView()">
                  <span class="icon icon-clock"></span>
                 Past
                </a>
              </li>
              
              
              
          </ul>
          </div>
        </li>



        <div>
          
          <div ng-repeat="events in userEvents">
                  <li class="media list-group-item p-a" ng-repeat="event in events.regiteredEvents">

                    <a class="media-left" href="#">
                      <img
                        class="media-object img-circle"
                        ng-src="https://graph.facebook.com/{{event._event.fbUserID}}/picture?type=large">
                    </a>
                    <div class="media-body">
                      <div class="media-heading">
                        <small class="pull-right text-muted">{{event._event.when}}</small>
                        <h5>{{event._event.sport}} Event</h5>
                      </div>

                      <p>
                        Level: {{event._event.level}}<br>
                        Mindset: {{event._event.mindset}}<br>
                        Age Range: {{event._event.ageRangeMin}}-{{event._event.ageRangeMax}}<br>
                        Gender: {{event._event.genderSelection}}<br>
                        Registerd Playzers: {{event._event.regiteredUsers.length}}

                      </p>
                    
                    </div>
                  </li>
                  </div>
              </div>
      
      </ul>
    </div>
    <div class="col-md-3">
      <div class="alert alert-warning alert-dismissible hidden-xs" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a class="alert-link" href="profile/index.html">Visit your profile!</a> Check your self, you aren't looking too good.
      </div>

      <!--<div class="panel panel-default m-b-md hidden-xs">-->
        <!--<div class="panel-body">-->
          <!--<h5 class="m-t-0">Sponsored</h5>-->
          <!--<div data-grid="images" data-target-height="150">-->
            <!--<img class="media-object" data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_2.jpg">-->
          <!--</div>-->
          <!--<p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>-->
          <!--<button class="btn btn-primary-outline btn-sm">Buy a ticket</button>-->
        <!--</div>-->
      <!--</div>      -->
    </div>
  </div>
</div>

   
    </div>
  </div>
</div>

