<div ng-tabs class="container p-t-md">
    <div class="row">
        <div class="col-md-3">

        <div class="panel panel-default panel-profile m-b-md">
        <div class="panel-heading"  ng-style="user.cover.source ? { 'background-image': 'url('+user.cover.source+')' } : { 'background-image': 'url(../assets/img/iceland.jpg)'}"></div>
        <div class="panel-body text-center">
         
            <img
              class="panel-profile-img"
              ng-src="{{user.picture.data.url}}" ng-click="editProfile()">
       

          <h5 class="panel-title">
            {{user.name}}
          </h5>

          <p class="m-b-md">{{user.about}}</p>

          <ul class="panel-menu hide">
            <li class="panel-menu-item">
              
                Rank
                <h5 class="m-y-0">12M</h5>
           
            </li>

          </ul>
        </div>
      </div>



            <div class="panel panel-default visible-md-block visible-lg-block">
                <div class="panel-body">
                    <h5 class="m-t-0" ng-click="changeDisable()">About
                        <small class="pull-right">
                            <a ng-show="disable">Edit</a>
                            <a ng-show="!disable">Cancel</a>
                        </small>
                    </h5>
                    <ul class="list-unstyled list-spaced">
                        <li><span class="text-muted icon icon-calendar m-r"></span>
                            Birthday &nbsp;
                            <input type="date" style="width: 100%" ng-model="profile.birthday"
                                   ng-value="profile.birthday" ng-disabled="disable">
                        </li>
                        <li><span class="text-muted icon icon-home  m-r"></span>
                            Home Location &nbsp;
                            <input type="text" class="form-control" ng-disabled="disable" ng-autocomplete
                                   ng-model="profile.hometown.name" options="options" details="profile.hometown.data"/>
                        </li>
                    </ul>
                    <h5 class="m-t-0" ng-hide="disable" ng-click="updateUser()">
                        <a>Save</a>
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <ul class="list-group media-list media-list-stream">
                <li class="list-group-item">

                    <h3 class="">My events 
                        <button ng-click="createNewEvent()" type="button"
                                class="btn btn-sm btn-primary pull-right">
                                <span class="icon icon-calendar"></span>  New event
                        </button>
                    </h3>
                </li>
                <li class="media list-group-item p-a hide">
                    <ul class="nav nav-pills nav-justified">
                        <li ng-tab-head="active" ng-click="tabChanged('upcoming')">
                            <a href="#" ng-click="$event.preventDefault()">
                                <span class="icon icon icon-hour-glass"></span> Upcomming </a>
                        </li>
                        <li ng-tab-head ng-click="tabChanged('past')">
                            <a href="#" ng-click="$event.preventDefault()">
                                <span class="icon icon-clock"></span> Past</a>
                        </li>
                    </ul>
                </li>
            </ul>


            <div class="media-list list-group tab-content">
                <div ng-tab-body="animated bounceInLeft" class="tab-pane media-list list-group">
                    <div class="media-list media-list-stream c-w-md">
                        <a class="list-group-item media" ng-repeat="card in upcomingEvents track by $index"
                             ng-include src="'views/includes/mycard.html'"> </a>
                    </div>
                </div>
                <div ng-tab-body="animated bounceInRight" class="tab-pane  media-list list-group">
                    <div class="media-list media-list-stream c-w-md">
                        <a class="list-group-item media p-a" ng-repeat="card in pastEvents track by $index"
                           ng-include src="'views/includes/mycard.html'"> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="loader centeredDiv" ng-show="splash"></div>

       

    </div>
</div>
