<div ng-tabs class="container p-t-md">
    <div class="row">
        <div class="col-md-3">
            <div class="profile-header text-center blur-bgimage"
                 style="background-image: url(../assets/img/iceland.jpg); ">
                <div class="container">
                    <div class="container-inner">
                        <img class="img-circle media-object" id="profileUserPic" src="{{user.picture.data.url}}">
                        <h3 class="profile-header-user" id="currntUserName"></h3>
                    </div>
                </div>
            </div>


            <div class="panel panel-default visible-md-block visible-lg-block">
                <div class="panel-body">
                    <h5 class="m-t-0">About
                        <small>· <a href="#">Edit</a></small>
                    </h5>
                    <ul class="list-unstyled list-spaced">
                        <li><span class="text-muted icon icon-calendar m-r"></span>Birthday<a href="#">14/11/86</a>
                        <li><span class="text-muted icon icon-location-pin m-r"></span>Location <a href="#">Hod
                            Hasharon, IL</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-9">
            <ul class="list-group media-list media-list-stream">
                <li class="list-group-item p-a">
                    <button type="button" class="btn btn-sm btn-primary pull-right app-new-msg js-newMsg">
                        New event
                    </button>
                    <h3 class="modal-title">My Events</h3>
                </li>
                <li class="media list-group-item p-a">
                    <ul class="nav nav-pills nav-tabs-justified">
                        <li ng-tab-head="active">
                            <a href="#" ng-click="$event.preventDefault()">
                                <span class="icon icon icon-hour-glass"></span> Upcomming </a>
                        </li>
                        <li ng-tab-head>
                            <a href="#" ng-click="$event.preventDefault()">
                                <span class="icon icon-clock"></span> Past</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-6 col-lg-12 ">
            <div class="tab-content" style="overflow: hidden">
                <div ng-tab-body="animated bounceInLeft media list-group-item" class="tab-pane">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                        <li>Aliquam tincidunt mauris eu risus.</li>
                        <li>Vestibulum auctor dapibus neque.</li>
                    </ul>
                </div>
                <div ng-tab-body="animated fadeInUp media list-group-item" class="tab-pane">
                    <p>Feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                </div>
            </div>
            <!--<ul class="list-group">-->
                <!--<li class="media list-group-item p-a">-->

                    <!--<a class="media-left" href="#">-->
                        <!--<img-->
                                <!--class="media-object img-circle"-->
                                <!--ng-src="">-->
                    <!--</a>-->
                    <!--<div class="media-body">-->
                        <!--<div class="media-heading">-->
                            <!--<small class="pull-right text-muted"></small>-->
                            <!--<h5>Event</h5>-->
                        <!--</div>-->
                        <!--<p>-->
                            <!--Level: <br>-->
                            <!--Mindset: <br>-->
                            <!--Age Range: <br>-->
                            <!--Gender: <br>-->
                            <!--Registerd Playzers:-->

                        <!--</p>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>

