
<div class="profile-header text-center blur-bgimage"
     style="background-image: url(../assets/img/iceland.jpg); ">
  <div class="container">
    <div class="container-inner">
      <img class="img-circle media-object" id="profileUserPic" src="">
      <h3 class="profile-header-user" id="currntUserName"></h3>
    </div>
  </div>
</div>

<div>
  <br><br>
    <div class="col-md-6">
      <ul class="list-group media-list media-list-stream">

    <li class="media list-group-item p-a">
      <h4>Complete Registration</h4>
    </li>

    <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                <label  class="select">Email:</label>
                <input class="form-control" id="userEmail" type="text">
            
         </div>  
            </div>
          </div>
        </li>

        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                  <label  class="select">Birthday:</label>
                  <input class="form-control" id="userBirth" type="date">
              </div>  
            </div>
          </div>
        </li>
        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                  <label  class="select">Home Location:</label>
                  <input class="form-control" id="userHome" type="text">
              </div>  
            </div>
          </div>
        </li>
        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                  <label  class="select">Say somthing about you:</label>
                  
                  <textarea  class="form-control" rows="2" cols="50">
                  </textarea>
              </div>  
            </div>
          </div>
        </li>
        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                  <button class="btn btn-lg btn-pill btn-success" onclick="saveUserParams()">Start Playzing</button>
              </div>  
            </div>
          </div>
        </li>
      

      </ul>
    </div>

     
 
  </div>

    </div>
  </div>
</div>


