<form>
<div class="profile-header text-center blur-bgimage"
     style="background-image: url(../assets/img/iceland.jpg); ">
  <div class="container">
    <div class="container-inner">
      <img class="img-circle media-object" id="profileUserPic" src="{{user.picture.data.url}}">
      <h3 class="profile-header-user" id="currntUserName"></h3>
    </div>
  </div>
</div>

<div>
  <br><br>
    <div class="col-md-6">
      <ul class="list-group media-list media-list-stream">

    <li class="media list-group-item p-a">
      <h4>Complete Registration</h4>
    </li>

        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                  <label  class="select">Birthday:</label>
                  <input class="form-control" type="date" ng-value="register.birthday" ng-model="register.birthday">
              </div>
            </div>
          </div>
        </li>
        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                  <label>Home Location:</label>
                  <!--<input class="form-control" id="userHome" type="text">-->
                  <!--<input type="text" class="form-control" ng-value="register.hometown.name" g-places-autocomplete ng-model="register.hometown.data" />-->
                  <input type="text" class="form-control" ng-autocomplete ng-model="register.hometown.name" options="options" details="register.hometown.data"/>
              </div>
            </div>
          </div>
        </li>
        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                  <label  class="select">Say somthing about you:</label>
                  
                  <textarea  class="form-control" rows="2" cols="50" ng-model="register.about">
                      {{register.about}}
                  </textarea>
              </div>  
            </div>
          </div>
        </li>
        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading text-center">
                  <button class="btn btn-lg btn-pill btn-success" ng-click="updateUser()">Start Playzing</button>
              </div>  
            </div>
          </div>
        </li>
      

      </ul>
    </div>

     
 
  </div>

    </div>
  </div>
</div>
</form>
