.fullBackground {
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
}
.profile_completeness{
    margin: 0 15px 0 15px;
}
#playzerCard{
    margin-bottom: 20px;
}