.fullBackground {
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
}
.profile_completeness{
    margin: 0 15px 0 15px;
}
#playzerCard{
    margin-bottom: 20px;
}
.google-map {
    height: 100%;
}
.map-height{
    height: 350px;
}
a {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
select option:empty{
    display: none;
}
.defProfBack{
    backgroundImage: url('../assets/img/iceland.jpg') !important;
}

.centeredDiv { margin-right: auto; margin-left: auto; width: 800px; }