<div class="media-body" ng-controller="playzcardCtrl" class="list-group-item" id="playzerCard">

    <small class="pull-right text-muted">{{card.whenDate | date:"dd/MM/yy"}}</small>

    
    <div class="media-heading">
        <h4>{{card.sportType}}</h4>
        <span class="icon icon-globe text-muted"></span>  {{card.location.city}}, {{card.airDistance}} KM / {{card.distance.duration.text}} from you<br>
        <span class="icon icon-user text-muted"></span>  {{card.groupSize - card.registeredUsers.length}} more places available
       

        <div class="pull-right">

<!--
            <button type="button" class="btn btn-success" data-toggle="modal" href="#eventModal" ng-click="[$event.preventDefault(),openEvent(card)]">
                Open
            </button>
-->

        </div>
    </div>
</div>


<!--
<div ng-controller="playzcardCtrl" class="list-group-item" id="playzerCard">
{{$index}} {{card}}
<button ng-click="changeCardData(card)"> Change Card Data {{click}}</button>
</div>-->