<div class="media" ng-controller="playzcardCtrl" class="list-group-item" id="playzerCard">
    <a class="media-left">
        <img style="max-height:40px;" data-ng-src="assets/img/{{card.sportType}}.png">       
    </a>
    <div class="media-body">
        <div class="media-body-text">
            <div class="media-heading">
                <small class="pull-right text-muted">{{card.whenDate | date:"dd/MM/yy"}}</small>
                <h4>{{card.sportType}}</h4>
            </div>
            <p>
                <span class="icon icon-globe text-muted"></span>  {{card.location.city}}, {{card.airDistance}} KM / {{card.distance.duration.text}} from you<br>
                <span class="icon icon-user text-muted"></span>  {{card.groupSize - card.registeredUsers.length}} more places available
            </p>
        </div>
    </div>
</div>


<!--
<div ng-controller="playzcardCtrl" class="list-group-item" id="playzerCard">
{{$index}} {{card}}
<button ng-click="changeCardData(card)"> Change Card Data {{click}}</button>
</div>-->