
<div ng-controller="playzcardCtrl" class="modal fade" data-target="#eventModal"  id="eventModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       
        <h4 class="modal-title">{{card.sportType}}</h4>
      </div>

      <div class="modal-body p-a-0 js-modalBody">
        <div class="modal-body-scroller">
           <ul class="list-group media-list media-list-stream">

        

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-globe text-muted"></span>
          </div>

          <div class="media-body">
            <div class="media-heading">
              <strong>Event Location:</strong>  {{card.location.name}}
            </div>

          </div>
        </li>

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-clock text-muted"></span>
          </div>

          <div class="media-body">
            <div class="media-heading">
              <strong>When:</strong> {{card.whenDate | date:"dd/MM/yyyy"}}
            </div>

          </div>
        </li>
        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-graduation-cap text-muted"></span>
          </div>

          <div class="media-body">
            <div class="media-heading">
              <strong>Level: </strong> {{card.level}}
            </div>

          </div>
        </li>
        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-emoji-flirt text-muted"></span>
          </div>

          <div class="media-body">
            <div class="media-heading">
              <strong>Mindset: </strong> {{card.mindset}}
            </div>

          </div>
        </li>
       
        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-slideshare text-muted"></span>
          </div>

          <div class="media-body">
            <div class="media-heading">
              <strong>Gender: </strong> {{card.gender}}
            </div>

          </div>
        </li>
        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-ruler text-muted"></span>
          </div>

          <div class="media-body">
            <div class="media-heading">
              <strong>Age Range: </strong> {{card.ageRange.min}} - {{card.ageRange.max}}
            </div>

          </div>
        </li>
        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-user text-muted"></span>
          </div>

          <div class="media-body">
            
            <div class="media-heading">
              <strong>{{card.registeredUsers[0].name}}</strong> and <strong>{{card.registeredUsers.length}}</strong> registered, {{card.groupSize-card.registeredUsers.length}} more places available
            </div>
            <ul class="avatar-list">
              <li class="avatar-list-item" ng-repeat="user in card.registeredUsers"><img class="img-circle" ng-src="{{user.picture.data.url}}">
            </ul>
          </div>
        </li>

        <li class="list-group-item media p-a">
          <div class="media-left">
            <span class="icon icon-creative-commons-noncommercial-us text-muted"></span>
          </div>

          <div class="media-body">
            <div class="media-heading">
              <strong>Payed Facilities: </strong> {{card.payedFacility}}
            </div>

          </div>
        </li>
      </ul>

        </div>

      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-lg btn-pill btn-success" ng-click="joinEvent(card)">Join Now</button>-->

        <button type="button" data-dismiss="modal" class="btn btn-success" ng-click="joinEvent(card)">
          <span class="icon icon-add-user"></span>
          Join
        </button>

      </div>

       
    </div>
  </div>
</div>
