      
          <div class="media-body" ng-controller="mycardCtrl" class="list-group-item" id="myCard">
         
            <small class="pull-right text-muted">{{event.whenDate |  date:"dd/MM/yy"}}</small>
            
            <div class="media-heading">
              <strong>{{event.sportType}}</strong> Event in '{{event.mindset}}' mindset, at {{event.location.name}}<br>
              Group size: {{event.registeredUsers.length}}/{{event.groupSize}}<br>
              Level: {{event.level}}



              <div class="pull-right">
            	
            </div>
            <ul class="avatar-list">
              <li class="avatar-list-item" ng-repeat="user in event.registeredUsers">
                <img class="img-circle" ng-src="{{user.picture.data.url}}">
              </li>
            </ul>
            </div>
           
          </div>
       

        <!--
<div ng-controller="playzcardCtrl" class="list-group-item" id="playzerCard">
    {{$index}} {{card}}
    <button ng-click="changeCardData(card)"> Change Card Data {{click}}</button>
</div>-->