
  <div ng-controller="notificationCtrl" class="modal fade" data-target="#notificationModal"  id="notificationModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
            <h4 class="modal-title">Notifications</h4>
          </div>

          <div class="modal-body p-a-0 js-modalBody">
            <div class="modal-body-scroller">
              <div class="media-list media-list-users list-group">
                <div class="list-group-item" ng-repeat="notification in notifications">
                  <div class="media">
                    <span class="media-left">
                    <img class="img-circle media-object" ng-src="{{notification.notification.creator.picture.data.url}}">
                    </span>
                    <div class="media-body">
                      <strong>{{notification.notification.creator.name}}</strong> Invited you to <strong>{{notification.notification.event.sportType}}</strong> event.
                      <div class="media-body-secondary">
                        in {{notification.notification.event.location.name}} at {{notification.notification.event.whenDate}}
                      </div>
                    </div>
                    <span class="media-right">
                    <button type="button" class="btn btn-sm btn-success-outline" 
                    ng-click="acceptNotification(notification.notification.event.id)">Accept <span class="icon icon-check"></span></button><br><br>
                    <button type="button" class="btn btn-sm btn-danger-outline" 
                    ng-click="deleteNotification($index,notification.notification.event.id)">Delete <span class="icon icon-trash"></span></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
	</div>
