<div class="media">
        
         <div class="media-body" ng-controller="mycardCtrl" ng-click="pastcardSelected(card)">
         
            <small class="pull-right text-muted">{{card.whenDate |  date:"dd/MM/yy"}}</small>
            
            <div class="media-heading">
              <h4>{{card.sportType}} - {{card.eventTitle}}</h4>
            
              <span class="icon icon-globe text-muted"></span>  {{card.location.city}}<br>
              <span class="icon icon-users text-muted"></span> {{card.registeredUsers.length}}/{{card.groupSize }} registered users
              
           
          </div>
          </div>
</div>